<!-- About Section
================================================== -->
<section id="about">
    <div class="row">
        <div class="three columns">
            <img class="profile-pic" src="images/profilepic.png" alt="" />
        </div>
        <div class="nine columns main-col">
            <h2>About Me</h2>
            <p>
                I wanted to travel the world and challenge myself along the way, however after everything
                the Marine Corps and life has thrown at me over the last 28 years it all led
                back towards the same passion and hobby I had as a young teenager. 
                I've always had a talent towards programming even when it was a self taught hobby, through my experiences I've came to realize 
                that its time to make it a profession and even a way of life; since it satisfies not only my need for challenge but 
                my desire to enjoy what i do for a living. Through being a Marine naturally I have acquired a "particular set of skills" (lol couldn't help myself)
                these skills are displayed through my ability to solve problems and how I flourish in collaborative environments.
                although these are some of my most valued competencies I believe the others I carry will be just as unique and valuable 
                towards whatever the future of Software Development brings.
                <br />
            </p>
            <div class="row">
                <div class="columns contact-details">
                    <h2>Contact Details</h2>
                    <p class="address">
                        <span>Zachary Herrera</span><br>
                        <span>(252)503-3844</span><br>
                        <span>Jacksonville, North Carolina</span><br>
                        <span>zachary.r.herrera@outlook.com</span>
                    </p>
                </div>
                <div class="columns download">
                    <p>
                        <a asp-action="DownloadResume" class="button"><i class="fa fa-download"></i>Download Resume</a>
                    </p>
                </div>
            </div> <!-- end row -->
        </div> <!-- end .main-col -->
    </div>
</section>
<!-- About Section End-->