<!-- Portfolio Section
================================================== -->
<section id="portfolio">
    <div class="row">
        <div class="twelve columns collapsed">
            <h1>Check Out Some of My Work</h1>
            <!-- portfolio-wrapper -->
            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-01" title="construction">
                            <img alt="construction-software" src="images/construction-software.png">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Future Projects</h5>
                                    <p>Future Projects</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div> <!-- item end -->
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-02" title="construction">
                            <img alt="construction-software" src="images/construction-software.png">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Future Projects</h5>
                                    <p>Future Projects</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div> <!-- item end -->
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-03" title="construction">
                            <img alt="construction-software" src="images/construction-software.png">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Future Projects</h5>
                                    <p>Future Projects</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div> <!-- item end -->
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-04" title="construction">
                            <img alt="construction-software" src="images/construction-software.png">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Future Projects</h5>
                                    <p>Future Projects</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div> <!-- item end -->
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-05" title="construction">
                            <img alt="construction-software" src="images/construction-software.png">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Future Projects</h5>
                                    <p>Future Projects</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div> <!-- item end -->
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-06" title="construction">
                            <img alt="construction-software" src="images/construction-software.png">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Future Projects</h5>
                                    <p>Future Projects</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div> <!-- item end -->
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-07" title="construction">
                            <img alt="construction-software" src="images/construction-software.png">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Future Projects</h5>
                                    <p>Future Projects</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div> <!-- item end -->
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-08" title="construction">
                            <img alt="construction-software" src="images/construction-software.png">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Future Projects</h5>
                                    <p>Future Projects</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div>  <!-- item end -->
            </div> <!-- portfolio-wrapper end -->
        </div> <!-- twelve columns end -->
        <!-- Modal Popup
         --------------------------------------------------------------- -->
        <div id="modal-01" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="images/m-construction-software.jpg" alt="construction" />
            <div class="description-box">
                <h4>Future Projects</h4>
                <p>TODO:::::.</p>
                <span class="categories"><i class="fa fa-tag"></i>Future Projects</span>
            </div>
            <div class="link-box">
                <a href="#" target="_blank">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div><!-- modal-01 End -->
        <div id="modal-02" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="images/m-construction-software.jpg" alt="construction" />
            <div class="description-box">
                <h4>Future Projects</h4>
                <p>TODO:::::.</p>
                <span class="categories"><i class="fa fa-tag"></i>Future Projects</span>
            </div>
            <div class="link-box">
                <a href="#" target="_blank">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div><!-- modal-02 End -->
        <div id="modal-03" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="images/m-construction-software.jpg" alt="construction" />
            <div class="description-box">
                <h4>Future Projects</h4>
                <p>TODO:::::.</p>
                <span class="categories"><i class="fa fa-tag"></i>Future Projects</span>
            </div>
            <div class="link-box">
                <a href="#" target="_blank">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div><!-- modal-03 End -->
        <div id="modal-04" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="images/m-construction-software.jpg" alt="construction" />
            <div class="description-box">
                <h4>Future Projects</h4>
                <p>TODO:::::.</p>
                <span class="categories"><i class="fa fa-tag"></i>Future Projects</span>
            </div>
            <div class="link-box">
                <a href="#" target="_blank">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div><!-- modal-04 End -->
        <div id="modal-05" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="images/m-construction-software.jpg" alt="construction" />
            <div class="description-box">
                <h4>Future Projects</h4>
                <p>TODO:::::.</p>
                <span class="categories"><i class="fa fa-tag"></i>Future Projects</span>
            </div>
            <div class="link-box">
                <a href="#" target="_blank">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div><!-- modal-05 End -->
        <div id="modal-06" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="images/m-construction-software.jpg" alt="construction" />
            <div class="description-box">
                <h4>Future Projects</h4>
                <p>TODO:::::.</p>
                <span class="categories"><i class="fa fa-tag"></i>Future Projects</span>
            </div>
            <div class="link-box">
                <a href="#" target="_blank">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div><!-- modal-06 End -->
        <div id="modal-07" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="images/m-construction-software.jpg" alt="construction" />
            <div class="description-box">
                <h4>Future Projects</h4>
                <p>TODO:::::.</p>
                <span class="categories"><i class="fa fa-tag"></i>Future Projects</span>
            </div>
            <div class="link-box">
                <a href="#" target="_blank">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div><!-- modal-07 End -->
        <div id="modal-08" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="images/m-construction-software.jpg" alt="construction" />
            <div class="description-box">
                <h4>Future Projects</h4>
                <p>TODO:::::.</p>
                <span class="categories"><i class="fa fa-tag"></i>Future Projects</span>
            </div>
            <div class="link-box">
                <a href="#" target="_blank">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div><!-- modal-08 End -->

    </div> <!-- row End -->
</section>
<!-- Portfolio Section End-->
