<!-- Quote
================================================== -->
<section id="call-to-action">
    <div class="row">
        <div class="two columns header-col">
            <h1><span>Follow your passion.</span></h1>
        </div>
        <div class="seven columns">
            <h2><span class="lead">— Bill Gates</span></h2>
            <p>
                <span class="lead">
                    "The world won't care about your self-esteem. The world will expect
                    you to accomplish something BEFORE you feel good about yourself."
                </span>
            </p>
        </div>
        <div class="three columns action">

        </div>
    </div>
</section>
<!-- Quote End-->