/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*Custom Buttons*/
.btn-file:hover {
    background-color: #0398E5;
    transition: ease 0.3s;
}
.btn-file {
    color: white;
    width: 100%;
    background-color: #4FC3F7;
    transition: ease 0.3s;
}
.btn-newReply:hover{
    background-color: #9FA8DA !important;
    transition: ease-in 0.1s;
}
.btn-newReply{
    background-color: #5C6BC0 !important;
    color: #fff !important;
    transition: ease-in 0.1s;
    border-radius: 0px !important;
}
.btn-newPost:hover{
    background-color: #0398E5;
    transition: ease 0.3s;
}
.btn-newPost{
    background-color: #c62828 !important;
    color: #fff !important;
    transition: ease-in 0.1s;
    border-radius: 0px !important;
}
.btn-submitPost:hover{
    transition: ease-in 0.1s;
    background-color: #00897B !important;
    color: #fff !important;
}
.btn-submitPost{
    background-color: #00695C !important;
    color: #fff !important;
    transition: ease-in 0.1s;
    border-radius: 0px !important;
}
.btn-back:hover{
    transition: ease-in 0.1s;
    background-color: #1E88E5 !important;
}
.btn-back{
    background-color: #555;
    color: #fff !important;
    transition: ease-in 0.1s;
    border-radius: 0px !important;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  padding: 0 0 20px 0;
  background-color: #EEE;
  background-image: url("/Images/background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.navbar{
    box-shadow: 0 5px 4px -6px #000;
}
/*TODO:create Logo */
.nav-Logo {
    background-image: url("#");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-right: 16px;
    width: 150px;
    margin-right: 12px;
}
.navbar li{
    font-weight: bold;

}
.sectionHeader{
    background-color: rgba(0,0,0,0.9);
    padding: 8px 0 24px 24px;

}
.sectionheading{
    color:white;
    font-size: 1.3em;
    font-family: Roboto;
    padding: 16px 0 16px 0;
    border-bottom: 1px solid #335;
    margin-bottom: 12px;
}
.postHeading{
    color:white;
    font-size: 1.1em;
    font-family: Roboto;
    padding: 16px 0 16px 0;

}
.sectionInfo{
    height: 400px;
    background-color: white;

}
.frontPageSplash{
    background-image: url("/Images/background2.jpg");
    background-repeat: no-repeat;
    background-position: right;
}
.frontpageLearn{
    font-family: Roboto;
    padding: 12px 0 0 32px;
    height: 360px;

}
.sectionDescription{
    color: #EEE;

}
.frontPageHeading{
    font-size: 3.2em;
    margin: 16px 0;
}
.frongPageSubHeading{
    font-size: 2em;

}
.frontPageTopContainer{
    padding: 40px 80px 42px 40px;
    border: 1px solid #999;
    background-color: #256905;
    font-family: Roboto;
}
.frontPageContent{
    background-color: rgba(255, 255, 255, 0.9);
    padding: 16px;

}
#latestPosts{
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin: 4px 0 16px 0;
}
.homeSearch{
    width: 100%;
    margin-top: 8px;
    background: rgba(0, 0, 0, 0.1);
    padding: 8px;
    border: 0px;
    height: 2.3em;
    font-size: 2.1em;
    font-family: Roboto;
    font-weight: bold;
    transition: ease-in 0.2s;
}
.homeSearch:focus{
    border: none !important;
    outline: none !important;
    transition: ease-in 0.2s;
    color: #03A9F4;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 5px 4px -6px #000;
}
.postTitle{
    font-family: Roboto;
    font-weight: bold;
}
.postSubTitle{
    color:#888;
    font-family: Roboto;
    font-size: 0.8em;
}
.postData{
    display: inline-block;
}
.postDate{
    color: #888;
    font-family: Roboto;
    font-size: 0.8em;
}
.postLogo{
    display: inline-block;
    border-radius: 3px;
    margin-right: 20px;
    height: 40px;
    width: 40px;
    background-color: #ddd;
}
.postHeader{
    background-color:#212121;
    padding: 8px 0px 24px 24px;
}
.postAuthorImage{
    height: 80px;
    width: 80px;
    background-size: 100%;
}
.postAuthorContainer{
    padding: 12px;
    color: #444;
    font-family: Roboto;
    width: 190px;

}
.postIndexTitle{
font-size: 1.3em;

}
#postIndexContent{
background-color: white;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.3);
}
.postContentContainer{
    font-family: Roboto;
    color: #222;
    padding: 22px;
    border-left: 1px solid #ddd;
}
.postAuthorRating{
    font-size: 0.9em;
    color: #159;
    font-family: Roboto;
}
#headingBtn{
    float: right;
    margin-right: 20px;
}

.forumPostCount{
    color: #888;
    font-family: Roboto;
    font-size: 0.9em;
}
.forumMemberCount{
    color: #888;
    font-family: Roboto;
    font-size: 0.9em;

}
#forumIndexContent{
    padding-bottom: 60px;
    background-color: white;
}
.noPosts{
    text-align: center;
    padding-top: 30px;
    font-family: Roboto;
}
.forumLogo{
    border-radius: 3px;
    float: left;
    margin-right: 20px;
    height: 40px;
    width: 40px;
    background-color: #ddd;
    border: 1px solid #555;
    background-size: 100%;
}
.forumIndexTable td{
    background-color: rgba(255, 255, 255, 0.9);
}
.forumIndexTable tr:hover{
background-color: rgba(0, 116, 238, 1);

}
.forumData{
    display: inline-block;
}
.forumTitle{
    font-family:Roboto;
    font-weight: bold;
    font-size: 1.1em;
}
.forumSubTitle{
    color: #888;
    font-family: Roboto;
    font-size: 0.8em;
}
.forumDescription{
    color: #555;
    font-family: Roboto;

}
.createPostSection{
    background-color: #fff;
    padding: 24px;
}


