@page
@model QuickFix.Views.Account.LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p style="color:white">You have successfully logged out of the application.</p>
</header>