<!-- footer
================================================== -->
<footer>
    <div class="row">
        <div class="twelve columns">
            <ul class="social-links">
                <li><a href="https://www.facebook.com/zachary.ryan.9883739"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/Zachary58832593"><i class="fa fa-twitter"></i></a></li>
                <li><a href="mailto:herrera2097@gmail.com?subject=WebSiteEmail"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="https://www.linkedin.com/in/herrera-zr/"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://www.twitch.tv/devildogtechnerd"><i class="fa fa-youtube"></i></a></li>
                <li><a href="https://bitbucket.org/ZRHerr"><i class="fa fa-bitbucket"></i></a></li>
                <li><a href="https://github.com/ZRHerr"><i class="fa fa-github"></i></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; 2019 - Zachary Herrera</li>
            </ul>
        </div>
        <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>
    </div>
</footer> 
<!-- Footer End-->