
@{
    ViewData["Title"] = "Index";
}

<br />

<div class="row">
    <div class="col-md-9">
        <div class="jumbotron">
            <h1 class="display-4">Welcome</h1>
            <p class="lead">
This Template is for calculating fuel consumption, storing vehicle information and storing service histroy. The ultimate goal is to create a 
                sizable vehicle analytic tool.
            </p>
            <hr class="my-4">
            <p>Feedback is always appreciated.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Contact us</a>
            </p>
        </div>

       
    </div>
    <div class="col-md-3 recommendedIntervalsMediaScreen" style="max-width: 1300px;">
        <div class="card bg-light mb-3">
            <div class="card-header"><h4>Recommended Intervals for Service History</h4></div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Record</th>
                        <th scope="col">Interval</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>oil </td>
                        <td>3,000 Miles</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Oil Filter</td>
                        <td>3,000 Miles</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Fuel filter</td>
                        <td>30,000 miles</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Air Filter</td>
                        <td>5,000 Miles</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Cabin Air Filter</td>
                        <td>30,000 Miles</td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>Brake Fluid</td>
                        <td>20,000 Miles</td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>AntiFreeze</td>
                        <td>20,000 Miles</td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td>Hydraulic Fluid</td>
                        <td>75,000 Miles</td>
                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td>Freon</td>
                        <td>5 years</td>
                    </tr>
                    <tr>
                        <th scope="row">13</th>
                        <td>Tires</td>
                        <td>50,000 miles</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>