@{
    ViewBag.Title = "Home Page";
}
<div class="head">
    <div class="row">
        <div class="col-md-3">
            <a href="/Home/Index">
                <div class="btnmain text-center" style="background-color:#787878;color:#fff">
                    <h4>Request a Service</h4>
                </div>
                </a>
        </div>
        <div class="col-md-3">
            <a href="/Home/Index">
                <div class="btnmain text-center" style="background-color:#787878;color:#fff">
                    <h4>Re-occuring Services</h4>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/Home/Index">
                <div class="btnmain text-center" style="background-color:#787878;color:#fff">
                    <h4>Service History</h4>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/Home/Index">
                <div class="btnmain text-center" style="background-color:#787878;color:#fff">
                    <h4>My Vehicles</h4>
                </div>
                </a>
        </div>
    </div>
</div>

<script src="~/Scripts/chartist.min.js"></script>