body {
background-color: dimgray;
font-family: 'Courier New', Courier, monospace;
}

header {
background-color: darkolivegreen;
padding: 30px;
text-align: center;
font-size: 35px;
color: white;
}

nav {
float: left;
width: 20%;
background-color: darkolivegreen;
padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0; 
}

article {
    float: left;
    padding: 20px;
    width: 80%;
    background-color: dimgrey;
}

section {
    content: "";
    display:table;
    clear: both;
}

footer {
    background-color: darkolivegreen;
    padding: 10px;
    text-align: center;
    color: white;
}
/* Icons */

ul.icons {
    list-style: none;
    padding-left: 0;
    cursor: default;
}

ul.icons li {
    display: inline-block;
    line-height: 1em;
    padding-left: 0.5em;
}

ul.icons li:first-child {
    padding-left: 0;
}

/*Responsive layout- makes the two columns/boxes stack instead of next to eachother on small screens*/
@media(max-width: 600px) {
    nav,article {
        width:100%;
        height: auto;
    }
}
