@if (Session["Username"] == null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account")</li>
        <li>@Html.ActionLink("Login", "Login", "Account")</li>

    </ul>
    <div class="sidebar">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="#" class="simple-text">
                    QuickFix
                </a>
            </div>
            <ul class="nav">
                <li class="active">
                    <a href="">
                        <i class="pe-7s-photo-gallery"></i>
                        <p>Whats New</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="pe-7s-bell"></i>
                        <p>Contact us</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="pe-7s-add-user"></i>
                        <p>FAQ</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Hello, " + Session["Username"], "Index", "Home")</li>
        <li>@Html.ActionLink("Logout", "Logout", "Account")</li>

    </ul>
    <ul class="nav navbar-nav navbar-left">
        <!--Notification-->
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon-cog"></i>
                <span class="notification">5</span>
                <span class="hidden-lg hidden-md">Notification</span>
            </a>
            <!--TODO Figure out how to implement these notification mappings-->
            <ul class="dropdown-menu">
                <li><a href="#">Notification 1</a></li>
                <li><a href="#">Notification 2</a></li>
                <li><a href="#">Notification 3</a></li>
                <li><a href="#">Notification 4</a></li>
                <li><a href="#">Another notification</a></li>
            </ul>
        </li>

    </ul>
    <div class="sidebar">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="#" class="simple-text">
                    QuickFix
                </a>
            </div>
            <ul class="nav">
                <li class="active">
                    <a href="/Home/Index">
                        <i class="pe-7s-home"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="pe-7s-news-paper"></i>
                        <p>My Profile</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="pe-7s-sun"></i>
                        <p>Inbox</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="pe-7s-photo-gallery"></i>
                        <p>My Documents</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="pe-7s-photo-gallery"></i>
                        <p>Whats New</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="pe-7s-bell"></i>
                        <p>Contact us</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="pe-7s-add-user"></i>
                        <p>FAQ</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
}
