@if (Session["Username"] == null)
{
<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Register", "Register", "Account")</li>
    <li>@Html.ActionLink("Login", "Login", "Account")</li>

</ul>
}
else
{
<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Hello, " + Session["Username"], "Index", "Home")</li>
    <li>@Html.ActionLink("Logout", "Logout", "Account")</li>

</ul>
}
